/*common*/
ul,ol,dl{list-style:none}
.d-flex{display:flex}
.justify-content-between{justify-content: space-between;}
.justify-content-end{justify-content:flex-end}
.justify-content-stretch{justify-content: stretch;}
.text-align-center{text-align:center}
.abs{position:absolute}
.rel{position:relative}
.fix{position:fixed}
.h-100{ height:100%;}

.backgroundno{ background-repeat: no-repeat; background-position: center; background-size: cover;}

/*커스터마이징*/
#logo{padding:2rem 0}
#logo img{height: 3rem; padding-right: 2rem;}
#content{ height:100vh;}
.hd_sch_wr, .hd_login, #tnb, #aside, #gnb_1dul, .lt_wr, .latest_wr, .latest_top_wr, #ft_wr .notice, #visit, .lat .lt_more {display:none;}
#ft_wr .ft_cnt a:nth-child(3), #ft_wr .ft_cnt a:nth-child(4){display:none}
#ft_company{float:right}

.first_main_1 img{margin-left: -360px;}
.poster_main_1 img{margin-left: -360px; width:1920px; height:1080px;}


/*퀵메뉴(left)*/
div#fixedmenu{width:3px; background-color: white;
  top:0; height:100%; left:50%;
  margin-left:-640px;
  z-index: 10000;
}
#gnb{
    flex-direction:column;
    align-items:center;
    top:33%;
    text-align:center;
}
#gnb li{
    border-radius:30px;
    border: 2px solid white;
    background-color:#62CFDF;
    padding:5px 20px;
    width:155px;
}
#gnb li a{
    display:block;
    color:white;
    text-transform: uppercase;
    font-weight:bold;
    white-space:nowrap
}
#gnb li.on{ background-color: yellow;  }
#gnb li.on a{ color:#222}

/* 메인 배너 */

#content h1{
    font-size:5.5rem;
    margin-top:-1rem;
}
#content .title_wrap{
    border-left: 1.5rem solid white;
    margin:.5em; margin-bottom:1rem;
    padding-left:1.5em;
    font-size:31px;
}

#content .first_write{
    background-image: url(/img/plane.png);
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    margin:0 auto;
}
#content .date{
    padding-bottom: 2.5rem;
}
#content .date p{
    display:block;
    background-color:yellow;
    color:rgb(40, 116, 157);
    font-weight:bold;
    font-size:23px;
    border-radius:30px;
    width:21rem; padding:.4rem;
    text-align:center;
}
#content .title_wrap{
    transform:translate(0%, -10%);
}
#content .date p{
    transform:translate(16%, -10%);
}
#content .row{
    transform:translate(8%, -10%);
    white-space: nowrap;
}
#content .row img{
    height: 2rem;
    padding:.3rem;
}

/*포스터*/
#poster .col{transition-duration:1s;}
#poster img{height:100%;}
#poster > .col{padding-right:0;}

/* 이벤트 */
#event h3{padding:2rem; transition-duration:1s;}
/* #event ul{padding:2rem;}
#event img{height:400px;padding:1rem; transition:0.6s; z-index:10}
#event img:hover{height:500px;} */
      
      html,body {
        position: relative;
        height: 100%;
      }

      body {
        background: transparent;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 1000px;
        height: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    #mySwiper .swiper-button-prev{left:315px; right:auto;}
    #mySwiper .swiper-button-next{right:315px; left:auto;}

    #mySwiper .swiper-button-prev:after, #mySwiper .swiper-button-next:after{
        display:block;
        color:white;
        font-weight:bolder;
        font-size:1rem;
        opacity:1;
    }
/* 프로그램 */
#program > div{padding-top:3rem;}
#program img{border: 10px double rgb(247, 247, 157); border-radius:30px}
    
  


/*반응형*/
/*desktop*/
@media (min-width:964px){
#content .first_write{align-items:center;}
#mySwiper .swiper-button-prev, #mySwiper .swiper-button-next, .swiper-pagination{display:none}
}
#program img{width:750px}

/*mobile*/
@media (max-width:964px){
#content .title_wrap{width:20%; white-space:nowrap; padding-left:1.5rem;}
#content h1{font-size:80px; margin-top:0}
#content .title_wrap{font-size:26px}
#fixedmenu{display:none}
#content .title_wrap, #content .row, #content .date p{
    transform:translate(1,0);
}
#content .first_write{padding-left:5%}
  
@media (max-width:600px){
#content h1{font-size:55px; margin-top:0}

#poster img{height:70%;}
#poster .col{padding:0}
#program img{width:70%}
}
}